{#:author chautruonglong#}

<!DOCTYPE html>
<html lang="en">
    <body>
        <p style="text-align: center;"><span style="font-size: medium;"><em><strong><span data-mce-style="font-family: verdana,sans-serif;" style="font-family: verdana,sans-serif;">Dear Sir/Madam</span></strong></em></span></p>
        <p style="text-align: center;"><span style="font-size: medium;"><em><strong><span data-mce-style="font-family: verdana,sans-serif;" style="font-family: verdana,sans-serif;">🤲🤚🤏🤌😒😍😊🖖👍️👍️</span></strong></em></span></p>
        <p style="text-align: center;"><br></p>
        <p style="text-align: center;"><span style="font-size: medium;"><span data-mce-style="font-family: verdana,sans-serif;" style="font-family: verdana,sans-serif;">Welcome to <em><strong>&quot;Automatic Attendance System&quot;</strong></em>.</span></span></p>
        <p style="text-align: center;"><span style="font-size: medium;"><span data-mce-style="font-family: verdana,sans-serif;" style="font-family: verdana,sans-serif;">This is your 👉️&nbsp;<a href="{{ link }}" target="_blank"><span data-mce-style="text-decoration: underline;" style="text-decoration: underline;">[LINK]</span></a> 👈️ to change your password.</span></span></p>
        <p style="text-align: center;"><span style="font-size: medium;"><span data-mce-style="font-family: verdana,sans-serif;" style="font-family: verdana,sans-serif;"><br data-mce-bogus="1"></span></span></p>
        <p style="text-align: center;"><span style="font-size: medium;"><span data-mce-style="font-family: verdana,sans-serif;" style="font-family: verdana,sans-serif;">Enjoy it 🦾💪💪🫀👊👎️.</span></span></p>
        <p style="text-align: center;"><span style="font-size: 20px;"><em><strong><span data-mce-style="font-family: comic sans ms,sans-serif;" style="font-family: comic sans ms,sans-serif;">---------------------------------------------</span></strong></em></span></p>
        <p style="text-align: center;"><span style="font-size: medium;"><em><strong><span data-mce-style="font-family: comic sans ms,sans-serif;" style="font-family: comic sans ms,sans-serif;">Automatic Attendance System</span></strong></em></span></p>
        <p style="text-align: center;"><span style="font-size: medium;"><em><strong><span data-mce-style="font-family: comic sans ms,sans-serif;" style="font-family: comic sans ms,sans-serif;">Contact: +84 77 551 6337</span></strong></em></span></p>
        <p style="text-align: center;"><span style="font-size: medium;"><em><strong><span data-mce-style="font-family: comic sans ms,sans-serif;" style="font-family: comic sans ms,sans-serif;">Email: <a data-mce-href="mailto:automatic.attendance.sys@gmail.com" href="mailto:automatic.attendance.sys@gmail.com" target="_blank">automatic.attendance.sys@gmail.com</a></span></strong></em></span></p>
    </body>
</html>