<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form method="post" action='.'>
            {% csrf_token %}
            <p>{{ email }}</p>
            <table>
                <tr>
                    <td>Mật khẩu mới:</td>
                    <td>
                        <input id="new_password" name="new_password" type="password" required/>
                    </td>
                </tr>

                <tr>
                    <td>Nhập lại:</td>
                    <td>
                        <input id="re_password" name="re_password" type="password" required/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="xác nhận">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>