absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1615404881292/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
bleach==1.5.0
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
cycler==0.10.0
cytoolz==0.11.0
dask==1.1.4
decorator @ file:///tmp/build/80754af9/decorator_1617916966915/work
dlib==19.22.0
facenet==1.0.5
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1596839682936/work
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpcio_1604365516153/work
h5py==3.1.0
html5lib==0.9999999
idna==2.10
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1619012199838/work
imutils==0.5.4
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
Keras==2.1.5
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612282412546/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1614595805172/work
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1613407855456/work
mtcnn==0.1.0
networkx==2.2
numpy==1.16.4
olefile==0.46
opencv-python==4.5.1.48
Pillow @ file:///tmp/build/80754af9/pillow_1617386154532/work
protobuf==3.13.0
psutil==5.8.0
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1601658315997/work
PyYAML==5.4.1
requests==2.25.1
scikit-image==0.17.2
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1614446678517/work
scipy==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
tensorboard==1.8.0
tensorflow==1.8.0
tensorflow-gpu==1.8.0
termcolor==1.1.0
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tifffile==2020.10.1
toolz @ file:///home/linux1/recipes/ci/toolz_1610987900194/work
tornado @ file:///tmp/build/80754af9/tornado_1606942266872/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
urllib3==1.26.4
webencodings==0.5.1
Werkzeug==1.0.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1614945704755/work
